@model IEnumerable<AnotherProject.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h2>Blog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

   <table>
       <tr>
           <th>            
                   @Html.DisplayNameFor(model => model.BlogTitle)

           </th>


           <th> @Html.DisplayNameFor(model => model.BlogPost)</th> 
           <th>@Html.DisplayNameFor(model => model.BlogTitle)</th>




           <th>
               @Html.DisplayNameFor(model => model.BlogTitle)
           </th>


           @foreach (var item in Model)
           {
<tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
       </table>
