@model AnotherProject.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SFirst)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SFirst)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLast)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLast)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Doctor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Doctor)
    </div>


</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
