@model AnotherProject.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Student</legend>

        @Html.HiddenFor(model => model.StudentID)

        <div class="editor-label">
            @Html.LabelFor(model => model.SFirst)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SFirst)
            @Html.ValidationMessageFor(model => model.SFirst)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLast)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLast)
            @Html.ValidationMessageFor(model => model.SLast)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Doctor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Doctor)
            @Html.ValidationMessageFor(model => model.Doctor)
        </div>

  

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
